html, body, header, aside, section, footer, div, span, nav, ol, ul, li, a, h1, h2, h3, h4, p, figure, figcaption, img, form, label, input, select, option, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
}

li {
  list-style: none;
}

body {
  line-height: 1.5;
}

img {
  width: 100%;
}

