<h1>User Login</h1>

<form action="<%= session_url %>" method="POST">
    <label>Email
        <input type="text" name="user[email]" value="">
    </label>

    <label>Password:
        <input type="password" name="user[password]" value="">
    </label>

    <%= auth_token %>
    <input type="submit" value="Login">
</form>