/* PHASE 3: Layout */
.content {
    min-height: 200px;
    display: flex;
    justify-content: center;
}

.content-sidebar {
    min-height: 200px;
    padding: 100px;
    background-color: #fff;
    border: 2px solid lightgray;
}

.content-main {
    min-height: 200px;
    padding: 100px 300px;
    background-color: pink;  
    border: 2px solid lightgray;
}

