<h1>Create a new sub</h1>

<form action="<%= subs_url %>" method="POST">

    <label>Title:
        <input type="text" name="sub[title]" value="<%= @sub.title %>">
    </label>

    

    <label>Description:
        <input type="text" name="sub[description]" value="<%= @sub.description %>">
    </label>   


    <%= auth_token %>
    <input type="submit" value="Create Sub">

</form>